<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/styles.css"/>
    <title>About</title>
</head>
<body>    
  <h1 class="welcome">About</h1> 
  <div class="inicioImg">
    <img class="portImg" src="/honda-ventas-08.jpg" />
  </div>
  <p>
    La misión de Honda de enriquecer el bienestar social, económico y educativo de las comunidades y la sociedad, a través de la participación corporativa e individual, ha encontrado en México un terreno fértil.
    En 1985, después de un cuidadoso análisis, nace Honda de México, S.A. de C.V. para, un año después, iniciar la construcción de la primera planta de Honda en el país, ubicada en El Salto, Jalisco.

    Para 1988, se contaba apenas con 51 empleados enfocados en la producción de autopartes y de la motocicleta CBR-1000. Sin embargo, en 1995 se dio inicio a la fabricación de automóviles con el Honda Accord y, a partir de 2007, se cambió a la fabricación del modelo Honda CR-V.    
  </p>
  <div class="butom">
    <a href="/home.html">Home</a>
    <a href="/works">Works</a>
    <a href="/photoGallery">Photo Gallery</a>
  </div>  
</body>
</html>