<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <h1 class="welcome">Welcome Honda!</h1> 
    <div class="inicioImg">
      <img src="/banner-rebel500_2.jpg" />
    <div>
      <ul>
        <li>PARA MOTOCICLETAS NUEVAS OFRECEMOS:</li>
        <li>Costos de mantenimiento justos</li>
        <li>Técnicos certificados</li>
      </ul>
    </div>
     </div>
    <div class="butom">      
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photoGallery">Photo Gallery</a>
    </div>  
</body>
</html>
     