<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/styles.css">
    <title>Photo Gallery</title>
</head>
<body>  
  <h1 class="welcome">Photo Gallery</h1>
  <div class="image">
    <img src="/moto1.png"/>
    <img src="/moto2.jpg" />
    <img src="/moto3.webp"/>
    <img src="/moto4.webp" />
    <img src="/moto5.jpg" />
    <img src="/moto6.jpg" />
</div>   
  <div class="butom">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
  </div> 
</body>
</html>  
      
  


