<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/styles.css">
    <title>Works</title>
</head>
<body>    
  <h1 class="welcome">Works</h1>
  <div class="inicioImg">
    <img class="portImg" src="/honda.jpg">
  </div>
  <p>
    Esta planta está dedicada a la producción de Transmisiones de velocidad Continuamente Variable (CVT) y ofrecerá empleo a 1,500 nuevos asociados una vez que supere un nivel de producción de 700 mil unidades anuales.

    Siguiendo el curso del crecimiento de Honda en México, el 21 de febrero de 2014 se inauguró la planta en Celaya, Guanajuato. Esta planta inició operaciones con la producción y tiene una capacidad anual de producción de 200 mil unidades.
  </p>
  <div class="butom">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/photoGallery">Photo Gallery</a>
  </div>
  </body>
</html>